* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
  background-color: black;
}
.header {
  margin: 8px;
  display: flex;
  align-items: center;
  height: 70px;
  width: 100vw;
  /* border: 1px solid white; */
}

.logo {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px;
  width: 25vw;
  border-radius: 50px;
  /* background-color: #1f1f1f; */
}
.logo img {
  padding-left: 12px;
  height: 50px;
  width: 50px;
}
.logo h2 {
  font-size: 30px;
}
.home {
  height: 60px;
  width: 60px;
  padding: 15px;
  margin-left: 25px;
  border-radius: 50px;
  background-color: #1f1f1f;
}

.search {
  display: flex;
  align-items: center;
  height: 60px;
  width: 30vw;
  margin-left: 5px;
  background-color: #1f1f1f;
  border: 1px solid black;
  border-radius: 50px;
}
.search img {
  height: 50px;
  width: 50px;
  margin-left: 5px;
  padding: 9px;
}
.search input {
  border: none;
  outline: none;
  height: 50px;
  width: 32vw;
  padding-left: 15px;
  font-size: 20px;
  color: white;
}

.container {
  display: flex;
  align-items: center;
  margin: 8px;
  gap: 5px;
}
.left {
  border: 1px solid black;
  height: 85vh;
  width: 25vw;
  border-radius: 8px;
  background-color: #121212;
  position: relative;
}
.left .heading {
  display: flex;
  align-items: center;
  padding: 8px;
  gap: 10px;
  margin-top: 10px;
  margin-left: 10px;
}
.library {
  width: 14vw;
}
.left .heading img {
  height: 40px;
  width: 40px;
  padding: 7px;
}
.heading .button {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50px;
  width: 140px;
  height: 50px;
  padding: 13px;
  background-color: #1f1f1f;
  font-size: 20px;
  font-weight: 600;
  color: white;
}
.heading .button img {
  height: 40px;
  width: 40px;
  padding: 8px;
}
.right {
  border: 1px solid black;
  height: 85vh;
  width: 75vw;
  border-radius: 8px;
  background-color: #121212;
  position: relative;
}
.leftCards {
  padding: 8px;
}
.leftCard {
  background-color: #1f1f1f;
  border-radius: 12px;
  height: fit-content;
  width: 455px;
  padding: 10px 23px 23px 23px;
  color: white;
  margin-top: 30px;
}
.leftCard > * {
  margin-top: 15px;
}

.whiteButton {
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  border-radius: 50px;
  width: fit-content;
  height: 50px;
  padding: 5px 15px 5px 15px;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 800;
  color: rgb(0, 0, 0);
  cursor: pointer;
}
.whiteButton:hover {
  font-size: 19px;
  color: white;
}

.Hover:hover {
  color: black;
}

.buttons {
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 730px;
}
.installApp {
  color: grey;
  background-color: black;
}

.installApp img {
  height: 20px;
  width: 20px;
  margin-right: 10px;
  filter: invert(0.5);
}
.installApp img:hover {
  filter: invert(1);
}

.leftFooter {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  font-size: 14px;
  position: absolute;
  bottom: 0;
  padding: 0px 5px 20px;
  margin: 0px 15px 10px;
}
.leftFooter a {
  text-decoration: none;
  color: white;
}
.lang {
  display: flex;
  gap: 10px;
  margin: 10px 10px 10px 34px;
}
.langImg {
  height: 20px;
  width: 20px;
}

.CategoryButtons {
  margin-left: 20px;
  padding: 20px;
  height: 90px;
}
.CategoryButtons > button {
  padding: 15px;
  border-radius: 25px;
  background-color: rgb(255, 255, 255);
  opacity: 1;
  border: none;
  outline: none;
  margin-left: 7px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
}
.CategoryButtons:hover {
  font-size: 19px;
}

.cardContainer {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
  padding-left: 50px;
  overflow: scroll;
  max-height: 75vh;
}
.card {
  margin-bottom: 25px;
  color: #acacac;
  border-radius: 7px;
  padding: 12px;
  width: 250px;
  background-color: #242424;
  position: relative;
}
.card img {
  width: 100%;
  object-fit: contain;
  border-radius: 4px;
}

.card p {
  margin-top: 7px;
}

.play {
  position: absolute;
  top: 155px;
  right: 15px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.playBar {
  height: 7vh;
  width: 98%;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: green;
  position: absolute;
  bottom: 0px;
  background-color: rgb(80, 80, 80);
  border-radius: 32px;
}

.playBar img {
  padding: 5px 10px 5px 10px;
  height: 50px;
  cursor: pointer;
}

.songsList {
  color: white;
  padding-left: 15px;
}
.songsList ul li{
 list-style-type: decimal;
}
